@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "general";
@import "forms";

body{
	font-family: "Roboto",sans-serif;
	font-size: 16px;
    transition:background 1s ease;
    transition-delay: 0.4s;
}

body.is-active{
    transition-delay: 0.8s;
}

*{
  box-sizing:border-box;
}

$tab-background:#fff;
$tab-text-color: #333;
$tab-font-family: "Open Sans",sans-serif;

$tab-button-background:#eee;
$tab-button-color:#000;


.j-tab{
    width: 50%;
    margin:0 auto;
    padding:10px;

    background:$tab-background;
    color:$tab-text-color;
    font-family: $tab-font-family;


    overflow: hidden;
    position: relative;

    &-nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    &-button{
        padding:20px;

        background:$tab-button-background;
        border-top:1px solid #333;
        color:$tab-button-color;
        transition:background 0.4s ease;

        &:hover{
            cursor:pointer;
            background:darken($tab-button-background,30);
        }
    }

    &-content{
        padding:10px 0px;
    }
    
    &-elem{
        opacity:0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        transition:all 1s ease;
        &--active{
            opacity:1;
            height: auto;
            overflow:auto;
            visibility:visible;
        }
    }

}

.container{
    width: 960px;
    margin:0 auto;
}

@import "media";
